.list{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    font-family: sans-serif;
    
}
body{
    margin: 0;
    padding: 0;
    background-color: lightcoral;
    /* opacity: 0.3; */
   
}
.n1{
    display: flex;
    width: 100vw;
    height: 10vh;
    background-color: lightcoral;
    justify-content: center;
    align-items: center;
  
}


li{
    padding: 50px;
    cursor: pointer;
}
.main1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: lightcoral;
    width: 100vw;
    flex-wrap: wrap;
    font-family: sans-serif;
   
}

.img1{
    width: 30vw;
    height: 60vh;
    border-radius: 200px;
   
}

.sepration{
    height: 7px;
    width: 100vw;
    background-color: white;
}


.box{
    width: 40vw;
    height: 15vh;
    background-color: lightcoral;
    margin: 20px 430px;
    border: 2px solid  rgb(233, 223, 223);
    border-radius: 25px;
    font-family: sans-serif;

}
.Hero{
    text-align: center;
    font-size: 45px;
    font-family: sans-serif;
}
.hero{
    text-align: center;
    font-size: 25px;
    padding: 15px 0px;
    font-family: sans-serif;
}

.c1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

.i1{
    width: 30vw;
    height: 30vh;
}
.i2{
    width: 30vw;
    height: 30vh;
    margin: 90px 0px;
}
.text2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
.images1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.b1{
    position: relative;
    top: -160px;
    left: 90px;
}
.b2{
    position: relative;
    left: 90px;
    top: 60px;
}

.jaadu{
    font-size: 28px;
}
.logo{
    width: 100px;
    height: 100px;
    position: relative;
    left: -200px;
    top: 10px;
}
p{
    line-height: 2;
    letter-spacing: 2px;
}

